@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Banking Application</h1>
    <p>View all acoounts <a href="accounts/all">here</a>.</p>
    <p>Initiate a transfer <a href="https://learn.microsoft.com/aspnet/core">here</a>.</p>
    <p>View all transactions<a href="https://learn.microsoft.com/aspnet/core">here</a>.</p>
</div>
